.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: white;
    font-family: "Poppins", sans-serif;
  }
  
  .nav-item {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
  }
  
  .nav-item img {
    width: 100px;
    height: auto;
  }
  
  .nav-item .nav-icon{
    width: 150px;

  }
  .nav-item span {
    color: black;
  }
  
  .nav-item:hover span {
    color: #007bff;
  }
  
  .nav-item .about-icon,
  .nav-item .signin-icon,
  .nav-item .login-icon {
    font-size: 20px;
  }
  